* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}

html {
    font-family: 'B612', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.nav {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.nav__logo{
    font-size: 1.6rem;
}

.nav__account {
    height: 100%;
}
.nav__groups {
    height: 100%;
}
.nav__link {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav__links {
    line-height: 3rem;
}

.nav__groups-heading {
    font-size: 1.3rem;
}

main {
    display: grid;
    grid-template-rows: 15% 10% 1fr;
    height: 100vh;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search-form {
    display: flex;
    align-items: center; 
}
.search__input {
    height: 2.5rem;
    width: 60%;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid lightgrey;
    padding-left: 1rem;
    font-family: "B612", sans-serif;
}
.search-icon {
    color: lightgray;
    font-size: 2rem;
    height: 2.38rem;
    padding: 0 .25rem;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0 .5rem .5rem 0;
}

.search-greeting {
    justify-self: end;
}

.today {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.today__posters {
    display:flex;
    justify-self: end;
}

.today__face {
    width: 3rem;
    border-radius: 50%;
    border: 3px dotted rgb(153, 156, 170);
    transform: translateY(-25%);
    margin: 0 .5rem;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
}
.post__head {
    display: grid;
    grid-template-columns: 10% 1fr;
}

.post__logo {
    font-size: 1.5rem;
    background: rgba(211, 211, 211, 0.486);
    color: skyblue;
    padding: .5rem;
    border-radius: 25%;
}

.post__img {
    width: 100%;
}
.post__main {
    justify-self: start;
}



